@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Buildings address: </p>
    <p>@ViewBag.CustomerBuilding</p>
    <p>Baterries id:</p>
    <p>@Html.Raw(string.Join(", ", ViewBag.CustomerBatteries))</p>
    <p>Column id:</p>
    <p>@Html.Raw(string.Join(", ", ViewBag.CustomerColumns))</p>
    <p>Elevator id:</p>
    <p>@Html.Raw(string.Join(", ", ViewBag.CustomerElevators))</p>




</div>
